.node {
  width: 1vw;
  height: 1vw;

  border: 1px solid black;
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.node-finish {
  background-color: red !IMPORTANT;
}

.node-start {
  background-color: green !IMPORTANT;
}

.node-wall {
  background-color: black;
}

.node-visited {
  background-color: darkorchid;
}

.node-path {
  background-color: yellow;
}